<h1>Sign Up</h1>


<div class = 'row'>
    <form method="POST" action="/auth/signup" class="col s12">
        <div class="row">
          <div class="input-field col s4">
            <input id="firstname" type="text" class="validate" name="firstname" value="<%= data.firstname %>">
            <label for="firstname">First Name</label>
          </div>
          <div class="input-field col s4">
                <input id="lastname" type="text" class="validate" name="lastname" value="<%= data.lastname %>">
                <label for="lastname">Last Name</label>
              </div>
              <div class="input-field col s4">
                  <input id="username" type="text" class="validate" name="username" value="<%= data.username %>">
                  <label for="username">User Name</label>
              </div>
        </div>
        <div class="row">
                <div class="input-field col s4">
                    <input id="email-inline" type="email" class="validate" name="email" value="<%= data.email %>">
                    <label for="email">E-Mail</label>
                </div>
                <div class="input-field col s4">
                    <input id="birthdate" type="text" class="datepicker validate" name="birthdate" value="<%= data.birthdate %>">
                    <label for="birthdate">Date of Birth</label>
                </div>
        </div>
        
        <div class="row">
                <div class="input-field col s6">
                    <input id="photoUrl" type="url" class="validate" name="photoUrl" value="<%= data.photoUrl %>">
                    <label for="photoUrl">Image Link to a Profile Picture</label>
                </div>
        </div>
        <div class="row">
            <div class="input-field col s4">
                <input id="password" type="password" class="validate" name="password">
                <label for="password">Password</label>
            </div>
            <div class="row">
                    <div class="input-field col s4">
                        <input id="confirmPassword" type="password" class="validate" name="confirmPassword">
                        <label for="confirmPassword">Confirm Password</label>
                    </div>
                </div>
        </div>
        <div class="row">
                <div class="input-field col s12">
                    <textarea id="bio" class="materialize-textarea" name="bio"><%= data.bio %></textarea>
                    <label for="bio">User Bio</label>
                </div>
        </div>

    <button class="btn waves-effect waves-light orange lighten-3" type="submit">Sign Up
        <i class="material-icons right">send</i>
      </button>
    </form>
</div>

<script>  
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.datepicker');
        let startDate = new Date()
        startDate.setFullYear(startDate.getFullYear() - 30)
        var instances = M.Datepicker.init(elems, {
            autoClose: true,
            defaultDate: startDate,
            minYear: startDate.getFullYear() - 70,
            maxYear: (new Date()).getFullYear()
        });
    });
  </script>