<h2>Profile page for <%= busker.name %></h2>
<hr>
<div class="row">
    <div class="col s12">
        <h3><%= busker.musicType %></h3>
        <h4><%= busker.description %></h4>
        <div class="lat"><%= busker.locations[0].lat %></div>
        <div class="long"><%= busker.locations[0].long %></div>
        <div class="city"><%= busker.locations[0].city %></div>
    </div>
    <div class="col s12">
        <div id="map" class="col s12 l6">
            <script>

                let name = document.getElementsByClassName('city')
                let lat = document.getElementsByClassName('lat')
                let long = document.getElementsByClassName('long')

                mapboxgl.accessToken = '<%= mapkey %>';
                var map = new mapboxgl.Map({
                    container: 'map', // container id
                    style: 'mapbox://styles/mapbox/streets-v11', // stylesheet location
                    center: [long[0].textContent, lat[0].textContent], // starting position [lng, lat]
                    zoom: 9 // starting zoom
                });


                // Declaration of the geojson object
                var geojson = {
                    type: 'FeatureCollection',
                    features: []
                };
                // Process of populating geojson object.
                for(let i = 0; i < lat.length; i++){
                    geojson.features.push({
                        type: 'Feature',
                        geometry: {
                            type: 'Point',
                            coordinates: [long[i].textContent, lat[i].textContent]
                        },
                        properties: {
                            title: 'Mapbox',
                            description: name[i].textContent
                        }
                    })
                }
                // add markers to map
                geojson.features.forEach(function(marker) {
                    // create a HTML element for each feature
                    var el = document.createElement('div');
                    el.className = 'marker';
                    // make a marker for each feature and add to the map
                    new mapboxgl.Marker(el)
                    .setLngLat(marker.geometry.coordinates)
                    .addTo(map);
                });
            </script>
        </div>
    </div>
</div>