<h1>Profile page for <%= busker.name %></h1>

<hr>

<div class="row">
    <div class="col s7">
        <div id="musicBox" class="container col s12 purple lighten-5">
            <p class="musicType">Music Type: <span style="color:#f06292"><%= busker.musicType %></span></p>
        </div>
        <div id="descriptionBox" class="container">
            <p class="description"><%= busker.description %></p>
        
        <br>
        <% if(user) { %>
            <% if(user.dataValues.id == busker.userId || user.dataValues.admin) { %>
                <div>
                    <form method="POST" action="/busker/<%=busker.id%>?_method=PUT">
                        <div class ="input-field col s12">
                            <textarea id="description" class="validate materialize-textarea" name="description"></textarea>
                            <label for="description">Update Description</label>
                        </div>
                        <div>
                            <button class="btn btn-primary pink accent-2" type="submit">Submit</button>
                            <br>
                            <br>
                        </div>
                    </form>
                </div>
            </div>
                <form method="POST" action="/busker/<%=busker.id%>?_method=DELETE">
                    <button id="delete" type="submit" class="btn btn-danger red accent-3">
                        Delete this Busker
                    </button>
                </form>
            <% } %>
        <% } %>
    </div>


<!-- This content exists wholly to feed the mapbox back-end information, and stays hidden. -->
    <div class="lat"><%= busker.locations[0].lat %></div>
    <div class="long"><%= busker.locations[0].long %></div>
    <div class="city"><%= busker.locations[0].city %></div>

<!-- Here Be Map, this should occupy the right hand side of the screen, unless mobile, in which case it occupies the bottom. -->


    <div class="col s6">
        <div id="map" class="col s12 l6">
            <script>
                // Don't judge me, I was going to make this mobile-friendly even if it killed me.
                if (window.innerWidth < 960) {
                    console.log('tiny');
                    mapStyle = document.getElementById('map').style
                    mainStyle = document.getElementById('main').style
                    mainStyle.height='150vh';
                    mapStyle.display = 'block';
                    mapStyle.top = '105vh';
                    mapStyle.width='90vw';
                    mapStyle.left='7%';
                }

                let name = document.getElementsByClassName('city')
                let lat = document.getElementsByClassName('lat')
                let long = document.getElementsByClassName('long')
                let busker = document.getElementsByClassName('busker')

                mapboxgl.accessToken = '<%= mapkey %>';
                var map = new mapboxgl.Map({
                    container: 'map', // container id
                    style: 'mapbox://styles/mapbox/streets-v11', // stylesheet location
                    center: [long[0].textContent, lat[0].textContent], // starting position [lng, lat]
                    zoom: 9 // starting zoom
                });


                // Declaration of the geojson object
                var geojson = {
                    type: 'FeatureCollection',
                    features: []
                };
                // Process of populating geojson object.
                for(let i = 0; i < lat.length; i++){
                    geojson.features.push({
                        type: 'Feature',
                        geometry: {
                            type: 'Point',
                            coordinates: [long[i].textContent, lat[i].textContent]
                        },
                        properties: {
                            title: 'Mapbox',
                            description: name[i].textContent
                        }
                    })
                }
                // add markers to map
                geojson.features.forEach(function(marker) {
                    // create a HTML element for each feature
                    var el = document.createElement('div');
                    el.className = 'marker';
                    // make a marker for each feature and add to the map
                    new mapboxgl.Marker(el)
                    .setLngLat(marker.geometry.coordinates)
                    .addTo(map);
                });
            </script>
        </div>
    </div>
</div>